*{
    margin: 0;
    padding: 0;
}

body {
    /*background-color: #819eee;*/
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
h1, h2{
    text-align: center;
    font-family: Tahoma;
    font-display: block;
}
.nav-brand {
    text-decoration: none;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    -webkit-text-stroke: 1px #fff;
    line-height: 2.5;
    margin-left: 25px;
    font-size: 20px;
}
.navflexbox{
    background-color: #3498db;
    display: flex;
    /* justify-content: space-between;  */
    /* Horizontal alignment */
    /* align-items: center;  */
    /* Vertical alignment */
    /* height: 30px;  */
    /* Set a height for the container */
    /* width: 50%; */
    /* padding: 10px; */
}
.flex_item a{
    font-weight: bold;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 12px;
    line-height: 2;
    transition: color 2s, background-color 2s;
}
.flex_item a:hover{
    color: black;
    /* text-decoration: none; */
    background-color:#3aa8f1;
}
ul {
    margin-left: auto;
}

li:last-child {
    margin-right: 20px;
}

.flex_item{
    
    display: inline;
    
    /* Allow items to grow and shrink equally */
    /* flex: 1;  */
    
    /* background-color: #3498db; */
    /* color: #fff; */
    /* text-align: center; */
    /* border-color: black; */
    /* border-width: solid; */
    /* margin: none; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* font-weight: bold; */
}
/* .flex_item:hover{
    color: rgb(0, 0, 0);
    
} */
@keyframes textAnimation {
    0% {
        
        transform: scale(1);
    }
    50% {
        color: #f2f3ee;
        transform: scale(1.2);
    }
    100% {
        
        transform: scale(1);
    }
}
.h1_animation{
        animation-name: textAnimation; /* Apply the animation with a 2s duration, and repeat indefinitely */
        animation-duration: 0.5s;
        cursor: pointer;
        animation-delay: 10ms;
        animation-iteration-count: 2;
        padding-block: 16px;
}
/* a:link{
    color: white;
} */
/* a:visited{
    color: rgb(198, 253, 47);
} */
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.box {
    flex: 1;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}
.red {
    background-color: #ff5733;
}

.green {
    background-color: #33ff57;
}

.blue {
    background-color: #337dff;
}
.image{
    display:flex;
    flex-flow:column;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: black;
    

}